
<div class="top-explanation">
  <h3>
    The CSAA is a network of alumni from intensive coding schools that will help you connect with your future friends, coworkers, and cofounders.
  </h3>
</div>


<hr>

<div class="cta">
  <h2>
    Sign up below for access to our alumni events and newsletter
  </h2>
  <h3>
    ...and for the details of our <span class="date">November 20th</span> kickoff!
  </h3>
</div>

<div class="signup-form">
  <%= form_for user, :url => "validate_user",
        :html => { :onsubmit => "return(validateForm())"} do |f| %>
    
    <div id="school-inputs" class="inputs">
      <label>
        1. Select School
      </label>
      <%= collection_select :school, :school_id, schools_list, :id, :name, :prompt => true %>
    </div>

    <div id="cohort-inputs" class="inputs">
      <label for="cohort_id">
        2. Select Class
      </label>
      <select name="cohort_id" id="cohort-combobox">
        <option value> </option>
      </select>
    </div>

    <div class="alt-signup inputs">
      <div class="input-pair">
        <%= f.label :fname, "3. First Name" %>
        <%= f.text_field :fname %>
      </div>
      <div class="input-pair">
        <%= f.label :lname, "4. Last Name" %>
        <%= f.text_field :lname %>
      </div>
      <div class="input-pair">
        <%= f.label :email, "5. Email" %>
        <%= f.text_field :email %>
      </div>

      <div class="submit-button alt-signup">
        <%= f.submit :value => "6. Sign up (free)" %>
        <div class="alt-signup-link">
          <a href="javascript:void(0)" onClick="showMainSignup()">Umm, I forgot, I actually do have a LinkedIn profile...</a><br>
        </div>
        <div class="fuds">
          We hate SPAM as much as you do.<br>  We will verify that you're a real homo sapien... ahem, graduate.
        </div>
      </div>
    </div>

    <div class="submit-button main-signup">
      <%= f.submit :value => "3. Sign up (free) with LinkedIn" %>
        
      <div class="alt-signup-link">
        <a href="javascript:void(0)" onClick="showAltSignup()">I don't have a LinkedIn profile!</a><br>
      </div>
      <div class="fuds">
        We hate SPAM as much as you do.<br>  LinkedIn is used to verify that you're a real humanoid... ahem, graduate.
      </div>
    </div>

  <% end %>
</div>


<%= content_tag :div, :class => "cohort_list", :data => {cohort_list: cohorts_list } do end%>

<script>
  $(function(){

    // on selection made or change made to the school box
    // grab the cohort data and display it for that cohort only
    $("#school_school_id").change(function(){

      $("#cohort-combobox").html("<option value>Please Select</option>");
      var selectedSchoolId = $(this).val();
      var cohortList = $(".cohort_list").data("cohort-list")

      // create a new select box in the right place for each item
      if(cohortList != null){
        cohortList.forEach(function(data){
          // console.log(data);
          if(data.school_id == selectedSchoolId){
            var start = new Date(data.start_date);
            var finish = new Date(data.end_date);
            var innerText =   data.city + ": " +
                              (start.getMonth() + 1) + "/" + 
                              start.getDate() + "/" +
                              (start.getFullYear() - 2000) + " to " +
                              (finish.getMonth() + 1) + "/" + 
                              finish.getDate() + "/" +
                              (finish.getFullYear() - 2000);
            $("#cohort-combobox").append("<option value='" + data.id + "'>" + innerText + "</option>");
          }
        })
      }
    })
  });
    
  // validate the form to make sure it's filled out properly
  function validateForm(){
    if($("#cohort-combobox").val() == ""){
      alert("Please select your school and cohort \nIf yours isn't here, please email erik@theodinproject.com");
      return false;
    }
    return true;
  }

  // switch from the linkedin submission to the alternate form
  function showAltSignup(){
    $(".alt-signup").slideDown();
    $(".main-signup").fadeOut();
  }

  // switch from the alt submission to the linkedin submission
  function showMainSignup(){
    $(".alt-signup").slideUp();
    $(".main-signup").fadeIn();
  }
</script>

