
<div class="top-explanation">
  <h3>
    The CSAA is a network of alumni from intensive coding schools that will help you connect with your future friends, coworkers, and cofounders.
  </h3>
</div>


<hr>

<div class="cta">
  <h2>
    Sign up below for access to our alumni events and newsletter
  </h2>
<!--   <h3>
    ...and for the details of our <span class="date">November 20th</span> kickoff!
  </h3> -->
</div>

<div class="signup-form">
  <%= form_for user, :url => "validate_user",
        :html => { :onsubmit => "return(validateForm())"} do |f| %>
    
    <div id="school-inputs" class="inputs">
      <label>
        1. Select School
      </label>
      <%= collection_select :school, :school_id, schools_list, :id, :name, :prompt => true %>
    </div>

    <div id="cohort-inputs" class="inputs">
      <label for="cohort_id">
        2. Select Class
      </label>
      <select name="cohort_id" id="cohort-combobox">
        <option value> </option>
      </select>
    </div>


    <div id="set-password" class="inputs">
      <label for="user_password">3. Set Up Your Password</label>
      <input type="password" name="user[password]" id="user_password">
    </div>

    <div class="alt-signup inputs">
      <input type="hidden" name="is_alt_form" value="false" id="is-alt-form">
      <div class="input-pair">
        <%= f.label :fname, "4. First Name" %>
        <%= f.text_field :fname %>
      </div>
      <div class="input-pair">
        <%= f.label :lname, "5. Last Name" %>
        <%= f.text_field :lname %>
      </div>
      <div class="input-pair">
        <%= f.label :email, "6. Email" %>
        <%= f.text_field :email %>
      </div>
      <div class="input-pair">
        <%= f.label :email_confirmation, "6b. Confirm Email" %>
        <input type="text" name="user[email_confirmation]" id="email-conf">
      </div>

      <div class="submit-button alt-signup">
        <%= f.submit :value => "7. Sign up (free)" %>
        <div class="alt-signup-link">
          <a href="javascript:void(0)" onClick="showMainSignup()">Umm, I forgot, I actually do have a LinkedIn profile...</a><br>
        </div>
        <div class="fuds">
          We hate SPAM as much as you do.<br>  We will verify that you're a real homo sapien... ahem, graduate.
        </div>
      </div>
    </div>

    <div class="submit-button main-signup">
      <%= f.submit :value => "4. Sign up (free) with LinkedIn" %>
        
      <div class="alt-signup-link">
        <a href="javascript:void(0)" onClick="showAltSignup()">I don't have a LinkedIn profile!</a><br>
      </div>
      <div class="fuds">
        We hate SPAM as much as you do.<br>  LinkedIn is used to verify that you're a real humanoid... ahem, graduate.
      </div>
    </div>

  <% end %>
</div>


<%= content_tag :div, :class => "cohort_list", :data => {cohort_list: cohorts_list } do end%>

<script>
  $(function(){


    // on selection made or change made to the school box
    // grab the cohort data and display it for that cohort only
    $("#school_school_id").change(function(){

      $("#cohort-combobox").html("<option value>Please Select</option>");
      var selectedSchoolId = $(this).val();
      var cohortList = $(".cohort_list").data("cohort-list")

      // create a new select box in the right place for each item
      if(cohortList != null){
        cohortList.forEach(function(data){
          // console.log(data);
          if(data.school_id == selectedSchoolId){
            var start = new Date(data.start_date);
            var finish = new Date(data.end_date);
            var innerText =   data.city + ": " +
                              (start.getMonth() + 1) + "/" + 
                              start.getDate() + "/" +
                              (start.getFullYear() - 2000) + " to " +
                              (finish.getMonth() + 1) + "/" + 
                              finish.getDate() + "/" +
                              (finish.getFullYear() - 2000);
            $("#cohort-combobox").append("<option value='" + data.id + "'>" + innerText + "</option>");
          }
        })
      }
    })
  });
    
  // validate the form to make sure it's filled out properly
  function validateForm(){
    var is_alt_form = $("#is-alt-form").val() == "true";
    if($("#cohort-combobox").val() == ""){
      alert("\nPlease select your school and cohort! \n\nIf yours isn't here, email:\n erik@theodinproject.com\n");
      return false;
    }
    // the previous code was enough to validate the main form, so 
    // it's onto the alternate form now
    if(is_alt_form){
      no_fname = $("#user_fname").val() == "";
      no_lname = $("#user_lname").val() == "";
      no_email = $("#user_email").val() == "";
      if( no_fname || no_lname || no_email){
        alert("Please enter your name and email in the form fields");
        return false;
      }
      if( $("#email-conf").val() !== $("#user_email").val()){
        alert("Your email doesn't match the confirmation...")
        return false;
      }
    }
    return true;
  }

  // switch from the linkedin submission to the alternate form
  function showAltSignup(){
    $("#is-alt-form").val("true");
    $(".alt-signup").slideDown();
    $(".main-signup").fadeOut();
  }

  // switch from the alt submission to the linkedin submission
  function showMainSignup(){
    $("#is-alt-form").val("false");
    $(".alt-signup").slideUp();
    $(".main-signup").fadeIn();
  }
</script>

