<!DOCTYPE html>
<html>
<head>
  <title>Coding School Alumni Association</title>
  <meta name="Description" CONTENT="The CSAA is a social and professional network of alumni from fulltime intensive coding schools that is dedicated to helping its members connect with each other and accelerate their careers">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= display_flash %>
  
  <%= yield %>

</body>
  
  <%= render "shared/google_analytics" %>

</html>
